<div class="input-container dropdown">
  <img src="@@imgSrc" alt="@@imgSrc" class="dropdown__icon" />
  <div class="dropdown__value" data-value="">Ticket Type</div>
  <div class="dropdown__options">
    <div class="dropdown__option" data-option="permanent-exhibition">
      Permanent exhibition
    </div>
    <div class="dropdown__option" data-option="temprorary-exhibition">
      Temporary exhibition
    </div>
    <div class="dropdown__option" data-option="combined-admission">
      Combined Admission
    </div>
  </div>
  <img src="@@toggleSrc" alt="@@toggleSrc" class="dropdown__arrow" />
</div>
