<div class="input-container dropdown">
  <img src="@@imgSrc" alt="@@imgSrc" class="dropdown__icon" />
  <div class="dropdown__value" data-value="">Ticket Type</div>
  <div class="dropdown__options">
    <div class="dropdown__option" data-option="permanent-exhibition" data-price-basic="20" data-price-senior="10">
      Permanent exhibition
    </div>
    <div class="dropdown__option" data-option="temprorary-exhibition" data-price-basic="10" data-price-senior="5">
      Temporary exhibition
    </div>
    <div class="dropdown__option" data-option="combined-admission" data-price-basic="25" data-price-senior="15">
      Combined Admission
    </div>
  </div>
  <img src="@@toggleSrc" alt="@@toggleSrc" class="dropdown__arrow" />
</div>
