<div class="slider-video swiper">
  <div class="slider-video__wrapper swiper-wrapper">
    <div class="slider-video__slide swiper-slide">
      <iframe
        src="https://www.youtube.com/embed/zp1BXPX8jcU?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="slider-video__slide swiper-slide">
      <iframe
        src="https://www.youtube.com/embed/Vi5D6FKhRmo?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="slider-video__slide swiper-slide">
      <iframe
        src="https://www.youtube.com/embed/NOhDysLnTvY?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="slider-video__slide swiper-slide">
      <iframe
        src="https://www.youtube.com/embed/aWmJ5DgyWPI?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="slider-video__slide swiper-slide">
      <iframe
        src="https://www.youtube.com/embed/2OR0OCr6uRE?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="slider-video__pagination swiper-pagination"></div>

  <div class="slider-video__button-prev swiper-button-prev"></div>
  <div class="slider-video__button-next swiper-button-next"></div>
</div>
