button {
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  border: none;
}

button:hover,
button:active {
  background-color: $secondary-color;
}

.button {
  width: 100%;

  font-family: 'Roboto', sans-serif;
  line-height: 1.17em;
  letter-spacing: 2px;

  &--buy-now {
    position: relative;
    overflow: hidden;
    width: 175px;
    height: 50px;
    border-radius: 2px;
    background-color: $primary-bgc;

    color: #fff;
    font-weight: 300;
    font-size: $font-size4;

    .circle {
      position: absolute;
      background-color: #fff;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      animation: scale 0.5s ease-out;
    }
  }

  &--calc-amount {
    max-width: 50px;
    height: 44px;
    background-color: #fff;

    font-size: $font-size2;
    font-weight: 400;
    color: $primary-bgc;
  }

  &--calc-ticket {
    max-width: 35px;
    height: 25px;
    background-color: $primary-bgc;

    color: #fff;
    font-size: $font-size4;
  }

  &--book {
    max-width: 220px;
    height: 45px;
    background-color: $primary-color;

    font-size: $font-size4;
    font-weight: 400;
    color: #fff;
  }
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .button {
    &--book {
      font-size: $font-size5;
    }
  }
}

@media (max-width: 426px) {
  .button {
    &--buy-now {
      font-size: $font-size5;
    }
  }
}
