.slider {
  &-main {
    width: 100%;
    max-width: 1000px;
    height: 810px;
    margin-right: 0;

    // styles for gradient shadow
    &::before {
      content: '';
      display: block;
      width: 250px;
      height: calc(100% - 60px);
      position: absolute;
      z-index: 999;
      left: 0;
      top: 0;
      background: linear-gradient(
        90deg,
        #000000 0%,
        rgba(0, 0, 0, 0.5) 65%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    &__slide img {
      max-width: 100%;
    }

    &__button-next,
    &__button-prev {
      color: #fff;
      top: 92.2%;
      right: 7.7%;

      &:hover {
        color: $secondary-color;
      }
    }

    &__button-prev {
      left: 84.7% !important;
    }

    &__button-next::after {
      content: '\2192';
      font-size: 34px;
    }

    &__button-prev::after {
      content: '\2190';
      font-size: 34px;
    }

    &__pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px !important;
      height: 120px;
      gap: 25px;
      left: unset !important;
      right: 0;
      bottom: 0 !important;
      background: #000;

      .swiper-pagination-bullet {
        background-color: #fff;
        opacity: 1 !important;
        width: 16px;
        height: 16px;
        border-radius: 0;
        margin: 0 !important;

        &-active {
          background-color: $secondary-color;
        }
      }
    }

    &__fraction {
      position: absolute;
      left: 12.4%;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: $font-size4;
      letter-spacing: 2px;

      cursor: default;
    }
  }
}

@media (max-width: 1024px) {
  .slider-main {
    max-width: 700px;
    height: 585px;

    &::before {
      width: 175px;
    }

    &__pagination {
      padding-left: 35px;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
      }
    }

    &__fraction {
      font-size: 20px;
      left: 20.6%;
    }

    &__button-next,
    &__button-prev {
      top: 89.2%;
      right: 11%;
    }

    &__button-prev {
      left: 78.2% !important;
    }
  }
}

@media (max-width: 768px) {
  .slider-main {
    max-width: 728px;
    height: 645px;

    &::before {
      display: none;
    }

    &__pagination {
      width: 100% !important;
      height: 100px;
      padding-left: 0;
      padding-right: 8px;
    }

    &__fraction {
      left: 22.6%;
    }

    &__button-next,
    &__button-prev {
      top: 91.9%;
      right: 22.5%;
    }

    &__button-prev {
      left: 66.9% !important;
    }
  }
}

@media (max-width: 420px) {
  .slider-main {
    height: 365px;

    &__pagination {
      height: 80px;
      gap: 10px;
      padding-right: 0;
      padding-top: 5px;

      .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
      }
    }

    &__fraction {
      font-size: 16px;
      letter-spacing: 1px;
      left: 19.6%;
    }

    &__button-next,
    &__button-prev {
      top: 89.2%;
      right: 19.3%;

      &::before,
      &::after {
        font-size: 24px;
      }
    }

    &__button-prev {
      left: 65.8% !important;
    }
  }
}
