<div class="slider-main swiper">
  <!-- Additional required wrapper -->
  <div class="slider-main__wrapper swiper-wrapper">
    <!-- Slides -->
    <div class="slider-main__slide swiper-slide">
      <img src="./img/slider-main/1.jpg" alt="slider-img" />
    </div>
    <div class="slider-main__slide swiper-slide">
      <img src="./img/slider-main/2.jpg" alt="slider-img" />
    </div>
    <div class="slider-main__slide swiper-slide">
      <img src="./img/slider-main/3.jpg" alt="slider-img" />
    </div>
    <div class="slider-main__slide swiper-slide">
      <img src="./img/slider-main/4.jpg" alt="slider-img" />
    </div>
    <div class="slider-main__slide swiper-slide">
      <img src="./img/slider-main/5.jpg" alt="slider-img" />
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="slider-main__pagination swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="slider-main__button-prev swiper-button-prev"></div>
  <div class="slider-main__button-next swiper-button-next"></div>
</div>
