.logo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;

  &__img {
    width: 49px;
    height: 49px;
  }
  &__text {
    font-size: $font-size3;
    font-family: 'Forum';
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 100%;
    max-width: 136px;

    &__img {
      width: 29px;
      height: 29px;
    }
    &__text {
      font-size: 16px;
    }
  }
}
