<div class="video-player">
  <div class="video-player__video-wrapper">
    <button class="video-player__main-play">
      <img src="./img/icons/icons.svg#video-play-big" alt="video-play" />
    </button>
    <video
      src="./files/video/video0.mp4"
      poster="./img/video-posters/poster0.jpg"
      class="video-player__video"></video>
  </div>
  <div class="video-player__controls">
    <button class="play">
      <img src="./img/icons/icons.svg#video-play" alt="video-play" />
    </button>
    <input type="range" class="range" min="0" max="100" />
    <button class="mute">
      <img src="./img/icons/icons.svg#video-unmuted" alt="video-unmuted" />
    </button>
    <input type="range" class="volume" min="0" max="100" />
    <button class="fullscreen">
      <img
        src="./img/icons/icons.svg#video-fullscreen"
        alt="video-fullscreen" />
    </button>
  </div>
</div>
