.comparison-slider {
  margin-top: 15px;
  position: relative;
  max-width: 720px;
  width: 100%;
  height: 700px;

  &__pictures {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .picture-before {
    height: 100%;
    width: 100%;
    background: url('../img/comparison/after.jpg') no-repeat;
    background-size: cover;
  }

  .picture-after {
    position: absolute;
    height: 100%;
    width: 61%;
    background: url('../img/comparison/before.jpg') no-repeat;
    background-size: cover;
  }

  &__slider {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    overflow: hidden;
  }

  input {
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
  }

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 700px;
    width: 3px;
    background: none;
    cursor: col-resize;
  }

  &__slider-line {
    width: 4px;
    height: 700px;
    position: absolute;
    left: 60.85%;
    pointer-events: none;

    span {
      height: 39px;
      width: 39px;
      border: 4px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);

      &::before,
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        border: 10px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::before {
        border-left-color: #fff;
        left: 40%;
      }

      &::after {
        border-top-color: #fff;
        left: 60%;
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 333px;
      background: #fff;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .comparison-slider {
    max-width: 728px;
    height: 705px;

    &__slider-line {
      height: 705px;
    }
  }
}

@media (max-width: 420px) {
  .comparison-slider {
    max-width: 380px;
    height: 368px;

    &__slider-line {
      height: 368px;
    }
  }
}
