.section-header {
  font-family: 'Forum';
  font-weight: 400;
  font-size: $font-size1;
  line-height: 1.125em;
  letter-spacing: 5px;
  text-transform: uppercase;

  &--white {
    color: #fff;
  }

  &--gold {
    color: $secondary-color;
  }
}

@media (max-width: 1024px) {
  .section-header {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .section-header {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 425px) {
  .section-header {
    font-size: 28px;
    line-height: 40px;
  }
}
