.map {
  &-container {
    max-width: 960px;
    width: 100%;

    & > div {
      width: 100%;
      height: 620px;
    }
  }

  &__control-center {
    background: url('../img/icons/icons.svg#favicon') no-repeat center;
    background-size: 40px 20px;
  }

  &__marker {
    background-image: url('../img/mapbox-icon.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .map-container {
    max-width: 694px;

    & > div {
      height: 454px;
    }
  }
}

@media (max-width: 768px) {
  .map-container {
    max-width: 100%;
    & > div {
      height: 476px;
    }
  }
}

@media (max-width: 420px) {
  .map-container {
    & > div {
      height: 248px;
    }
  }
}
