<nav class="nav--header">
  <div class="nav__menu">
    <ul class="nav__list">
      <li>
        <a href="#visiting" class="link link--nav">Visiting</a>
      </li>
      <li>
        <a href="#explore" class="link link--nav">Explore</a>
      </li>
      <li>
        <a href="#video" class="link link--nav">Video</a>
      </li>
      <li>
        <a href="#gallery" class="link link--nav">Gallery</a>
      </li>
      <li>
        <a href="#tickets" class="link link--nav">Tickets</a>
      </li>
      <li>
        <a href="#contacts" class="link link--nav">Contacts</a>
      </li>
    </ul>
    <div class="nav__menu-img">
      <div class="img-1"></div>
      <div class="img-2"></div>
      <div class="img-3"></div>
    </div>
    <hr class="horizontal-line horizontal-line--white" />
    <div class="nav__menu-social">
      <ul>
        <li>
          <a
            href="https://www.youtube.com/user/louvre"
            class="link link--social"
            target="_blank">
            <img src="./img/icons/icons.svg#youtube" alt="youtube" />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/museelouvre/"
            class="link link--social"
            target="_blank">
            <img src="./img/icons/icons.svg#instagram" alt="instagram" />
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/museedulouvre"
            class="link link--social"
            target="_blank">
            <img src="./img/icons/icons.svg#facebook" alt="facebook" />
          </a>
        </li>
        <li>
          <a
            href="http://twitter.com/museelouvre"
            class="link link--social"
            target="_blank">
            <img src="./img/icons/icons.svg#twitter" alt="twitter" />
          </a>
        </li>
        <li>
          <a
            href="https://www.pinterest.fr/museedulouvre/"
            class="link link--social"
            target="_blank">
            <img src="./img/icons/icons.svg#pinterest" alt="pinterest" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav__menu-icon"><span></span></div>
  <ul class="nav__list">
    <li>
      <a href="#visiting" class="link link--nav">Visiting</a>
    </li>
    <li>
      <a href="#explore" class="link link--nav">Explore</a>
    </li>
    <li>
      <a href="#video" class="link link--nav">Video</a>
    </li>
    <li>
      <a href="#gallery" class="link link--nav">Gallery</a>
    </li>
    <li>
      <a href="#tickets" class="link link--nav">Tickets</a>
    </li>
    <li>
      <a href="#contacts" class="link link--nav">Contacts</a>
    </li>
  </ul>
</nav>
