<nav class="nav--footer">
  <ul class="nav__list">
    <li>
      <a href="#visiting" class="link link--nav">Visiting</a>
    </li>
    <li>
      <a href="#gallery" class="link link--nav">Gallery</a>
    </li>
    <li>
      <a href="#explore" class="link link--nav">Explore</a>
    </li>
    <li>
      <a href="#tickets" class="link link--nav">Tickets</a>
    </li>
    <li>
      <a href="#video" class="link link--nav">Video</a>
    </li>
    <li>
      <a href="#contacts" class="link link--nav">Contacts</a>
    </li>
  </ul>
</nav>